.git
.gitignore
venv/
.venv/
.deploy_venv/
.manual_deploy_venv/
__pycache__/
*.pyc
*.ipynb
*.tfstate
*.tfstate.backup
.terraform/
deployment/terraform/
deployment/archive/
docs/
output.txt
metrics/
tmp/
